vendor/*/**/*.rst
vendor/*/**/*.md
vendor/*/**/.editorconfig
vendor/*/**/phpunit.xml
vendor/*/**/phpunit.xml.dist
vendor/*/**/build.xml
vendor/*/**/phpspec.yml
vendor/*/**/behat.yml
vendor/*/**/ruleset.xml
vendor/*/**/codecov.yml
vendor/*/**/Makefile
vendor/*/**/MAKEFILE
vendor/*/**/makefile
vendor/*/**/.coveralls.yml
vendor/*/**/.travis.yml
vendor/*/**/.gitignore
vendor/*/**/LICENSE
vendor/*/**/license
vendor/*/**/changelog
vendor/*/**/README
vendor/*/**/readme
vendor/*/**/CHANGELOG
vendor/*/**/CHANGES
vendor/*/**/changes
vendor/*/**/UPGRADE
vendor/*/*/Test
vendor/*/*/test
vendor/*/*/Tests
vendor/*/*/tests
vendor/*/**/Spec
vendor/*/**/spec
